@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: black; /* ou use #000000 */
  color:white
  }

header img {
  display: block;
  margin: 75px 0 0 360px;
 }

h1 {
font-size: 64px;
font-family: "Unbounded", sans-serif;
font-weight: 700;
text-align: center;
margin-top: 60px;
}

h1 span {
  color:#9747FF;
}

p {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 24px;
 
}

a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  background-color: #9747FF;
  width: 340px ;
  height: 66px;
  display: block;
  text-align: center;
  line-height: 66px;
  border-radius: 36px;

 /* levar sempre em consideração a ordens desse itens de alinhamento */
  margin: 40px auto;


}
a:hover {
  background-color: #8233e8;

}

section img {
  display: block;
  width: 792;
  height: 46;
  margin: 0 auto;
}